.bck{
    background-color: #7F96FF;
}

.navbck{
    background-color: #7F96FF;
}


#link-proizvodi:link,
#link-proizvodi:visited{
    font-size: 17px;
    background-color: #7F96FF;
    text-decoration: underline;
    text-decoration-color: #3f61f8;
    text-decoration-thickness: 3px;
    margin-left: 20px;
    padding: 15px;
    transition: .4s;
}

#link-proizvodi:hover,
#link-proizvodi:active{
    font-size: 17px;
    background-color: #99abfc;
    text-decoration: underline;
    text-decoration-color: #5776fd;
    text-decoration-thickness: 4px;
    padding: 15px;
}


#link-home:link,
#link-home:visited,
#link-login:link,
#link-login:visited {
    font-size: 17px;
    background-color: #7F96FF;
    text-decoration: none;
    margin-left: 20px;
    padding: 15px;
    transition: .4s;
}

#link-home:hover,
#link-home:active,
#link-login:hover,
#link-login:active {
    font-size: 17px;
    background-color: #99abfc;
    text-decoration: none;
    padding: 15px;
}

#foot{
    padding: 30px;
}

.info{
    margin-top: 100px;
    height: 450px;
    background-color: #ededf3;
    border-radius: 35px;
    padding-left: 40px;
    padding-right: 40px;
}

.opis{
    padding: 7px;
}

.detalji{
    font-size: 20px;
}